body {
    background-color: #111827;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;  
    font-family: sans-serif;
}

.gameboard {
    display: grid;
    grid-template-columns: 0.5fr repeat(8, 105px);
    grid-template-rows: repeat(8, 105px) 0.5fr;    
    gap: 7.5px;
    margin-top: 60px;
}

.square {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    text-transform: capitalize;
    position: relative;
}

.square:hover {
    filter: brightness(0.7);
}

.square-black {
    background-color: #737373;
}

.square-white {
    background-color: #fdffcb;
}

.legend {
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.row {
    width: 30px;
}

.col {
    height: 30px;
}

.start::after {
    content: "";
    background-image: url(chess-knight.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 10%;
    left: 15%;
    width: 75%;
    height: 75%;
    z-index: +1;
}

.destination::before,
.destination::after {
    content: "";
    position: absolute;
    left: calc(100% - 110px / 2);
    content: ' ';
    height: 45px;
    width: 5px;
    background-color: rgb(255 170 170 / 50%);
}
.destination::before {
    transform: rotate(45deg);
}
.destination::after {
    transform: rotate(-45deg);
}